@import "../global/_typography.scss";

.Footer {
  position: absolute;
  right: 12px;
  top: 12px;

  &__icon {
    color: $primary-color;
    // font-size: 24px;
    margin-left: 4px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    padding: 4px;
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
    }

    &:hover {
      opacity: 0.5;
    }

    &:focus,
    &:active {
      outline: white 1px solid;
      border-radius: 2px;
    }
  }
}

.Lightbox {
  position: fixed;
  background-color: rgba(50, 50, 50, 0.95);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;

  &__content {
    height: calc(100% - 112px);
    padding: 2em;
    background: white;
    border-radius: 4px;
    position: relative;
    margin: 56px 32px;

    font-style: normal;
    overflow: scroll;
  }

  &__close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0;
    width: 80px;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
  }
}

// @media only screen and (min-width: 400px) {
//   .Lightbox {
//     &__content {
//       margin: 64px;
//       height: calc(100% - 128px);
//     }
//   }
// }

@media only screen and (min-width: 768px) {
  .Lightbox {
    &__content {
      margin: 64px;
      height: calc(100% - 128px);
    }
  }
}
