@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Open+Sans:ital,wght@1,300&display=swap");
$black: #191970;

Body {
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nunito Sans", sans-serif;
  color: $black;
}

p {
  font-family: "Open Sans", sans-serif;
  color: $black;
}

.App {
  margin: 64px;

  &__container {
    background-color: white;
    border-radius: 4px;
    padding: 32px;
  }

  &__header {
    position: relative;

    &--logo {
      position: absolute;
      right: 0;
      bottom: 6px;
      height: 32px;
      pointer-events: none;
      filter: invert(14%) sepia(64%) saturate(2257%) hue-rotate(227deg)
        brightness(86%) contrast(111%);
    }
  }
}

@media only screen and (min-width: 768px) {
  .App {
    margin: 100px;
    &__container {
      padding: 48px;
    }

    &__header--logo {
      height: 25px;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App__header--logo {
    animation: App-logo-spin infinite 7s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
