@import "./global/_typography.scss";

.Game {
  &__heading {
    border-bottom: solid $primary-color 1px;
  }

  &__report {
    color: $primary-color;
    margin: 18px 0 0;
    border-radius: 4px;
    height: 68px;

    p {
      padding-bottom: 24px;
    }
  }

  .command-history.command-error {
    color: red;
  }
}
